/* Стили для мобильных устройств */
@media (max-width: 600px) {  /* или другой размер, подходящий для вашего дизайна */
    .table-responsive {
        margin: 0;  /* убрать отступы вокруг таблицы */
        padding: 0;
        
    }
    
    .table {
        font-size: 12px;  /* уменьшить размер шрифта */
    }

    .table th, .table td {
        padding: 5px;  /* уменьшить отступы в ячейках */
    }

    /* Дополнительные стили для уменьшения размера элементов таблицы */
}
