/* Стили для мобильных устройств */
@media (max-width: 600px) {
    .table-responsive {
        margin: 0; /* Убрать отступы вокруг таблицы */
        padding: 0;
    }

    .table {
        font-size: 11px; /* Уменьшить размер шрифта */
    }

    .table th,
    .table td {
        padding: 0px; /* Уменьшить отступы в ячейках */
    }
}

/* Подключение пользовательского шрифта Bootstrap Icons */
@font-face {
    background-color: white;
    font-display: block;
    font-family: "bootstrap-icons";
    src: url("./fonts/bootstrap-icons.woff2?8d200481aa7f02a2d63a331fc782cfaf") format("woff2"),
        url("./fonts/bootstrap-icons.woff?8d200481aa7f02a2d63a331fc782cfaf") format("woff");
}

/* Основные стили страницы */
body {
    font-family: Arial, sans-serif; /* Установка шрифта для текста */
    background-color: #d5fae3; /* Установка цвета фона */
}

/* Стили навигационной панели */
.navbar-brand {
    background-color: #ce499d; /* Установка цвета фона логотипа */
    border-radius: 5px; /* Установка скругления углов */
    padding: 8px; /* Установка отступов вокруг текста */
    margin-left: 3px; /* Установка отступа слева */
    color: white; /* Установка цвета текста */
}

/* Стили подвала страницы */
.footer {
    background-color: grey; /* Установка цвета фона подвала */
    color: white; /* Установка цвета текста */
}

/* Стили заголовков */
h1,
h2,
h3 {
    font-family: 'Helvetica', sans-serif; /* Установка шрифта для заголовков */
    color: #8B4513; /* Установка цвета текста */
}

/* Стили таблицы */
table {
    border-radius: 10px; /* Установка скругления углов таблицы */
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы скругления */
}

/* Стили заголовков таблицы */
table th {
    background-color: rgb(255, 134, 134) !important; /* Установка цвета фона */
    text-align: center; /* Выравнивание текста по центру */
    vertical-align: middle; /* Выравнивание по вертикали посередине ячейки */
}

/* Стили ячеек таблицы */
table td {
    background-color: rgb(252, 200, 200) !important; /* Установка цвета фона */
    text-align: center; /* Выравнивание текста по центру */
    vertical-align: middle; /* Выравнивание по вертикали посередине ячейки */
}

/* Стили логотипа */
.logo {
    height: 70px; /* Установка высоты логотипа */
}
